includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    ignoreErrors:
        -
            message: '#Parameter \#1 \$view of .+ expects view-string(\|null)?, string given#'
            reportUnmatched: false
        -
            message: '#does not accept default value of type string#'
            reportUnmatched: false
